html, body {
  height:100vh;
  overflow-x:hidden;
  background-repeat:no-repeat;
}

.headText {
  color:white;
}

.jumbotron.welcome {
  background-color:rgba(255,255,255,0);
  flex-direction:column;
  align-items:center;
  display:flex;
}

.container.jumbContainer {
  padding:0px;
}

.btnsContainer {
}

.container.loginContainer {
  padding:0px;
}

.text-center.wlcmTxt {
  padding:20px 60px 20px 60px;
}

.col-6.hpCol {
  justify-content:center;
  margin:auto;
  padding:0px;
}

.row {
  height:100vh;
  background-image:url(../../assets/img/student-study-stress-img-1280x720.jpg);
}

.navbar {
  transition:all 0.4s;
}

.navbar .nav-link {
  color:#fff;
}

.navbar .nav-link:hover, .navbar .nav-link:focus {
  color:#fff;
  text-decoration:none;
}

.navbar .navbar-brand {
  color:#fff;
}

.navbar.active {
  background:#fff;
  box-shadow:1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color:#555;
}

.navbar.active .nav-link:hover, .navbar.active .nav-link:focus {
  color:#555;
  text-decoration:none;
}

.navbar.active .navbar-brand {
  color:#555;
}

@media (max-width: 991.98px) {
  .navbar {
    background:#fff;
  }
}

@media (max-width: 991.98px) {
  .navbar .navbar-brand, .navbar .nav-link {
    color:#555;
  }
}

#logreg-forms {
  width:412px;
  margin:10vh auto;
  background-color:rgba(243,243,243,0.45);
  box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition:all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius:9px;
}

#logreg-forms form {
  width:100%;
  max-width:410px;
  padding:15px;
  margin:auto;
}

#logreg-forms .form-control {
  position:relative;
  box-sizing:border-box;
  height:auto;
  padding:10px;
  font-size:16px;
}

#logreg-forms .form-control:focus {
  z-index:2;
}

#logreg-forms .form-signin input[type="email"] {
  margin-bottom:-1px;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

#logreg-forms .form-signin input[type="password"] {
  border-top-left-radius:0;
  border-top-right-radius:0;
}

#logreg-forms .social-login {
  width:390px;
  margin:0 auto;
  margin-bottom:14px;
}

#logreg-forms .social-btn {
  font-weight:100;
  color:white;
  width:190px;
  font-size:0.9rem;
}

#logreg-forms a {
  display:block;
  padding-top:10px;
  color:lightseagreen;
}

#logreg-form .lines {
  width:200px;
  border:1px solid red;
}

#logreg-forms button[type="submit"] {
  margin-top:10px;
}

#logreg-forms .facebook-btn {
  background-color:#3C589C;
}

#logreg-forms .google-btn {
  background-color:#DF4B3B;
}

#logreg-forms .form-reset, #logreg-forms .form-signup {
  display:none;
}

#logreg-forms .form-signup .social-btn {
  width:210px;
}

#logreg-forms .form-signup input {
  margin-bottom:2px;
}

.form-signup .social-login {
  width:210px !important;
  margin:0 auto;
}

@media screen and (max-width:500px) {
  #logreg-forms {
    width:300px;
  }
}

@media screen and (max-width:500px) {
  #logreg-forms .social-login {
    width:200px;
    margin:0 auto;
    margin-bottom:10px;
  }
}

@media screen and (max-width:500px) {
  #logreg-forms .social-btn {
    font-size:1.3rem;
    font-weight:100;
    color:white;
    width:200px;
    height:56px;
  }
}

@media screen and (max-width:500px) {
  #logreg-forms .social-btn:nth-child(1) {
    margin-bottom:5px;
  }
}

@media screen and (max-width:500px) {
  #logreg-forms .social-btn span {
    display:none;
  }
}

@media screen and (max-width:500px) {
  #logreg-forms .facebook-btn:after {
    content:'Facebook';
  }
}

@media screen and (max-width:500px) {
  #logreg-forms .google-btn:after {
    content:'Google+';
  }
}

