.btn.btn-primary.btn-block.signupBtn {
  background-color:black;
}

.form-control-plaintext.formStaticTxt {
}

.btn.btn-primary.dropdown-toggle.drpdown_signup {
  background-color:rgba(255,255,255,1);
  color:black;
  margin:0px;
}

.dropdown.drpdown_parent {
}

